/server/CaleDoktorNauka.c  
/server/slika1.png         
/server/gamefile.dll       
/server/analiza2.pdf       
/server/south_park.mkv      

test.py
ORM1234.bmp


# /server/CaleDoktorNauka.c   # 103 B
# /server/slika1.png          # 5.1 MB
# /server/gamefile.dll        # 32 MB
# /server/analiza2.pdf        # 159 MB
# /server/south_park.mkv      # 278 MB